*{
margin:0px;
padding:0px;
font-family:"Helvetica",sans-serif;
outline:none;
box-sizing:border-box;
}

body{
background-repeat:no-repeat;
background-size:cover;
background-position:right;
}

.nav{
width:100%;
position:fixed;
top:0px;
box-shadow:0px 1px 3px rgba(0,0,0,0.5);
display:flex;
align-items:center;
background-color:#4848f0;
padding:12px;
color:white;
}

.nav a{
text-decoration:none;
padding:8px 16px;
border:2px solid #4848f0;
border-radius:50px;
color:white;
margin:2px;
}

.nav a:hover{
border:2px solid white;
}

#selected{
background-color:white;
color:#4848f0;
}

.nav input{
box-shadow:0px 1px 3px rgba(0,0,0,0.5);
border:0px;
border-radius:50px;
padding:8px 16px;
margin-left:12px;
margin-right:auto;
width:200px;
transition:width 250ms ease;
}

.nav input:focus{
width:300px;
}

.img_banner{
background-repeat:no-repeat;
background-size:cover;
background-position:center;
background-blend-mode:multiply;
display:flex;
margin-top:55px;
}

.img_banner p{
font-size:28px;
color:white;
border:2px solid white;
padding:16px;
margin:120px auto;
}


#div_white,#div_gray{
padding:20px 200px;
text-align:center
}

.main_div div p{
font-size:20px;
margin:12px 0px;
text-align:justify;
}

.main_div div q{
color:gray;
margin:12px;
}
.main_div div button{
border:none;
color:white;
padding:8px 16px;
box-shadow:0px 1px 3px rgba(0,0,0,0.5);
margin:16px;
border-radius:50px;
}


#div_gray{
background-color:#f1f1f1;
}
#underscore{
width:10%;
height:5px;
background-color:#4848f0;
border-radius:50px;
margin:16px auto;
}

.main_div div video{
margin:12px;
width:75%;
border-radius:5px;
box-shadow:0px 1px 3px rgba(0,0,0,0.5);
}

.main_div div h2{
text-align:left;
}



.gallery_div{
padding:20px;
text-align:center;
}

.gallery_div img{
width:250px;
height:200px;
transition:all 500ms ease;
box-shadow:0px 1px 3px rgba(0,0,0,0.5);
margin:12px;
border-radius:5px;
object-fit:cover;
}
.gallery_div img:hover{
width:400px;
height:350px;
}

form{
width:40%;
margin-left:auto;
box-shadow:0px 1px 3px rgba(0,0,0,0.5);
background-color:white;
text-align:center;
margin-top:55px;
padding:20px;
}

form input{
width:250px;
padding:8px 16px;
border:2px solid #4848f0;
border-radius:50px;
transition:width 250ms ease;
}

form select{
width:250px;
padding:8px 16px;
border:2px solid #4848f0;
border-radius:50px;
transition:width 250ms ease;
}

form input[type="checkbox"],form input[type="radio"]{
width:20px;
height:20px;
margin:12px;
vertical-align:middle;
}

form textarea{
width:250px;
height:250px;
padding:8px 16px;
border:2px solid #4848f0;
border-radius:10px;
transition:width 250ms ease;
}
form input:focus{
width:270px;
}
form input[type="checkbox"]:focus,form input[type="radio"]:focus{
width:20px;
}

form input[type="submit"]{
width:100px;
background-color:#4848f0;
box-shadow:0px 1px 3px rgba(0,0,0,0.5);
color:white;
}

form input[type="submit"]:hover{
background-color:dodgerblue;
}

footer{
padding:16px;
color:white;
background-color:gray;
text-align:center;
}

footer a{
text-decoration:none;
color:white;
margin:16px;
}

footer h3{
margin:16px;
}

